.main {
   width: 100%;
   background-color: #EEFEFD;
}

.container{
    width: 100%;
    position: relative; 
    overflow-x: hidden;
    @media (max-width: 1100px) {
        .container{
            width: 120vw;
        }
    }
}

.header{
    position: relative;
    width: 100%;
    padding: 3rem 5.9rem 0 5rem;
    display: flex;
    gap: 25px;
    justify-content: space-between;
    h2{
        font-size: 3.25rem;
        font-weight: 700;
        line-height: 63px;
        color: var(--purple-800);
    }
    img{
        width: 4.0rem;
    }
}
.title_main{
    position: relative;
    margin-left: 82px;
    h2{
        font-size: 3.25rem;
        font-weight: 700;
        line-height: 63px;
        color: var(--purple-800);
    }
    
}

.container_content {
    position: relative;
    margin-top: 32px;
}
@media (max-width: 1100px) {
    .container{
        width: 100%;
    }
}

@media (max-width: 800px) {
    .header{
        display: flex;
        h2{
            font-size: 2.25rem;
            font-weight: 700;
            line-height: 63px;
            color: var(--purple-800);
        }
        figure{
            img{
                width: 50px;
            }
        }
    }
}

@media (max-width: 625px) {
    .header{
        padding: 6rem 5.9rem 0 6.8rem;
        h2{
            font-size: 2rem;
            line-height: 40px;
        }
    }
}

@media (max-width: 554px) {
    .header{
        padding: 6rem 5.9rem 0 6rem;
        h2{
            font-size: 2rem;
            line-height: 40px;
        }
    }
}

@media (max-width: 510px) {
    .header{
        padding: 6rem 5.9rem 0 5.5rem;
        h2{
            font-size: 1.6rem;
            line-height: 30px;
        }
    }
}

@media (max-width: 465px) {
    .header{
        padding: 6rem 5.9rem 0 5.1rem;
        figure{
            img{
                width: 35px;
            }
        }
        
    }
}

@media (max-width: 420px) {
    .header{

        padding: 6rem 5.9rem 0 5.7rem;
        
    }
}

@media (max-width: 400px) {
    .header{
        padding: 6rem 5.9rem 0 5rem;
        figure{
            img{
                width: 36px;
            }
        }
        
    }
}

@media (max-width: 340px) {
    .header{
        padding: 6rem 5.9rem 0 3.7rem;
        figure{
            img{
                width: 36px;
            }
        }
        
    }
}

// @media (max-width: 750px) {
//     .container{
//         width: 150vw;
//     }
// }


// @media (max-width: 660px) {
//     .container{
//         width: 155vw;
//     }
// }

// @media (max-width: 630px) {
//     .container{
//         width: 165vw;
//     }
// }

// @media (max-width: 597px) {
//     .container{
//         width: 170vw;
//     }
// }

// @media (max-width: 579px) {
//     .container{
//         width: 180vw;
//     }
// }

// @media (max-width: 543px) {
//     .container{
//         width: 185vw;
//     }
// }

// @media (max-width: 535px) {
//     .container{
//         width: 190vw;
//     }
// }

// @media (max-width: 513px) {
//     .container{
//         width: 195vw;
//     }
// }

// @media (max-width: 505px) {
//     .container{
//         width: 200vw;
//     }
// }
