.container{
    min-height: 100vh;
    // background-image: url("/images/s1_insurance.svg");
    // background-position: center;
    // background-size: 100% auto;
    // background-repeat: no-repeat;
}

.title_main{
    position: relative;
    margin-left: 82px;
    margin-top: 56px;
    h2{
        font-size: 3.25rem;
        font-weight: 700;
        line-height: 63px;
        color: var(--purple-800);
    }
    
}

.container_s1 {
    position: relative;
    margin-top: 32px;
}