.container {
  position: relative;
  overflow-y: auto;
  overscroll-behavior-y: contain;
  scroll-snap-type: y mandatory;
  height: 100vh;
  width: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.section1 {
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;
    position: relative;
    img {
      position: relative;
      width: 100%;
      height: 100%;
    }
    .content {
      max-width: 1200px;
      margin: 0 auto;
      position: relative;
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      .title{
        position: relative;
        width: 43rem;
        font-size: 3.6rem;
        h2{
          color: var(--purple-800);
          span{
            color: var(--coral-300);
          }
        }
      }
      .subtitle{
        margin-top: 110%;
        position: relative;
        text-align: right;
        width: 25rem;
        p{
          font-size: 2.0rem;
          font-weight: 500;
          color: var(--purple-800);
        }
      }
    }
    .downarrow {
      background: none;
      border: 0;
        position: absolute;
        bottom: 0;
        left: 10rem;
        right: 0;
        top: 200%;
        margin: 0 auto;
        background-image: url("/images/downarrow.svg");
        background-repeat: no-repeat;
        background-size: contain;
        width: 40px;
        height: 40px;
        z-index: 2;
      }
  }

  .section2 {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;
    position: relative;
    img {
      position: relative;
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
    }
    .content {
      width: 100%; 
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 10rem;
      .title{
        width: 35rem;
        margin-left: 10rem;
        flex-direction: column;
        h2 {
          justify-content: flex-start;
          justify-self: start;
          position: relative;
          z-index: 1;
          font-size: 3.4rem;
          font-weight: 400;
          color: #fff;
          @media (min-width: 768px) {
            font-size: 3rem;
          }
        }
        p{
          font-size: 1.5rem;
          position: relative;
          color: #FFFFFF;
          line-height: 1.8rem;
          margin-top: 1rem;
        }
      }
      .cards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;;
        margin: 0 auto;
        gap: 10rem;
        .card{
          box-sizing: border-box;
          padding: 2rem;
          width: 21.5rem;
          height: 24rem;
          background-color: #FFFFFF;
          border: 2.10766px solid #FFFFFF;
          box-shadow: 0px 3.16967px 20.6028px rgba(0, 0, 0, 0.25);
          border-radius: 30px;
          h3{
            font-size: 1.5rem;
            color: var(--purple-800);
            font-weight: 500;
            line-height: 1.8rem;
            position: relative;
            &::after{
              position: absolute;
              content:"";
              border: 1px solid rgba(22, 5, 68, 0.3);
              width: 15.43rem;
              height: 0px;
              top: 2.4rem;
              bottom: 0;
              left: 0;
            }
          }
          p{
            font-weight: 400;
            font-size: 1rem;
            line-height: 1.3rem;
            letter-spacing: 0.04em;
            margin-top: 0.8rem;
            &:first-of-type{
              margin-top: 2.8rem;
            }
            &:last-of-type{
              margin-bottom: 3rem;
            }
          }
          .button{
            text-align: center;
            button{
              width: 14rem;
              color: #FFFFFF;
              height: 2.31rem;
              background: var(--coral-300);    
              border: 0;    
              border-radius: 22.5644px;
            }
          }
        }
      }
      
    }
    .downarrow {
    background: none;
    border: 0;
      position: absolute;
      bottom: 8rem;
      left: 0;
      right: 0;
      margin: 0 auto;
      background-image: url("/images/downarrow.svg");
      background-repeat: no-repeat;
      background-size: contain;
      width: 40px;
      height: 40px;
      z-index: 2;
    }
  }

  .section3 {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;
    position: relative;
    img {
      position: relative;
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
    }
    .content {
      h2 {
        position: relative;
        z-index: 1;
        font-size: 1.4rem;
        font-weight: bold;
        color: #fff;
        text-align: center;
        @media (min-width: 768px) {
          font-size: 3rem;
        }
      }
    }
    .downarrow {
    background: none;
    border: 0;
      position: absolute;
      bottom: 8rem;
      left: 0;
      right: 0;
      margin: 0 auto;
      background-image: url("/images/downarrow.svg");
      background-repeat: no-repeat;
      background-size: contain;
      width: 40px;
      height: 40px;
      z-index: 2;
    }
  }

  .section4 {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;
    position: relative;
    img {
      position: relative;
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
    }
    .content {
      .title{
        h2 {
          position: relative;
          z-index: 1;
          font-size: 1.4rem;
          font-weight: bold;
          color: #160544;
          text-align: center;
          @media (min-width: 768px) {
            font-size: 3rem;
          }
        }
      }
      
    }
    .downarrow {
    background: none;
    border: 0;
      position: absolute;
      bottom: 8rem;
      left: 0;
      right: 0;
      margin: 0 auto;
      background-image: url("/images/downarrow.svg");
      background-repeat: no-repeat;
      background-size: contain;
      width: 40px;
      height: 40px;
      z-index: 2;
    }
  }

  .section5 {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;
    position: relative;
    img {
      position: relative;
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
    }
    .content {
      h2 {
        position: relative;
        z-index: 1;
        font-size: 1.4rem;
        font-weight: bold;
        color: #fff;
        text-align: center;
        @media (min-width: 768px) {
          font-size: 3rem;
        }
      }
    }
    .downarrow {
    background: none;
    border: 0;
      position: absolute;
      bottom: 8rem;
      left: 0;
      right: 0;
      margin: 0 auto;
      background-image: url("/images/downarrow.svg");
      background-repeat: no-repeat;
      background-size: contain;
      width: 40px;
      height: 40px;
      z-index: 2;
    }
  }

  .section6 {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;
    position: relative;
    img {
      position: relative;
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
    }
    .content {
      h2 {
        position: relative;
        z-index: 1;
        font-size: 1.4rem;
        font-weight: bold;
        color: #fff;
        text-align: center;
        @media (min-width: 768px) {
          font-size: 3rem;
        }
      }
    }
    .downarrow {
    background: none;
    border: 0;
      position: absolute;
      bottom: 8rem;
      left: 0;
      right: 0;
      margin: 0 auto;
      background-image: url("/images/downarrow.svg");
      background-repeat: no-repeat;
      background-size: contain;
      width: 40px;
      height: 40px;
      z-index: 2;
    }
  }

  .section7 {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;
    position: relative;
    img {
      position: relative;
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
    }
    .content {
      h2 {
        position: relative;
        z-index: 1;
        font-size: 1.4rem;
        font-weight: bold;
        color: #fff;
        text-align: center;
        @media (min-width: 768px) {
          font-size: 3rem;
        }
      }
    }
    .downarrow {
    background: none;
    border: 0;
      position: absolute;
      bottom: 8rem;
      left: 0;
      right: 0;
      margin: 0 auto;
      background-image: url("/images/downarrow.svg");
      background-repeat: no-repeat;
      background-size: contain;
      width: 40px;
      height: 40px;
      z-index: 2;
    }
  }

  .section8 {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;
    position: relative;
    img {
      position: relative;
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
    }
    .content {
      h2 {
        position: relative;
        z-index: 1;
        font-size: 1.4rem;
        font-weight: bold;
        color: #fff;
        text-align: center;
        @media (min-width: 768px) {
          font-size: 3rem;
        }
      }
    }
    .downarrow {
    background: none;
    border: 0;
      position: absolute;
      bottom: 8rem;
      left: 0;
      right: 0;
      margin: 0 auto;
      background-image: url("/images/downarrow.svg");
      background-repeat: no-repeat;
      background-size: contain;
      width: 40px;
      height: 40px;
      z-index: 2;
    }
  }

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
  /* CSS */
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  .section1{
    .content{
      padding: 3rem;
      grid-template-columns: 1fr;
      .title{
        margin-top: 8rem;
      }
      .subtitle{
        margin-top: 8rem;
      }
    }
  }
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  .section1{
    .content{
      grid-template-columns: 1fr;
      padding: 3rem;
      .title{
        margin-top: 8rem;
      }
      .subtitle{
        margin-top: 8rem;
      }
    }
  }
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  .section1{
    .content{
      grid-template-columns: 1fr;
      .title{
        margin-top: 8rem;
        
      }
      .subtitle{
        margin: 8rem;
      }
    }
  }
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
  
  .section1{
    .content{
      grid-template-columns: 1fr;
      padding: 2rem;
      .title{
        font-size: 3rem;
        margin: 8rem auto;
      }
      .subtitle{
        justify-content: center;
        align-items: center;
        margin-top: 8rem;
        width: 25rem;
        p{
          font-size: 1.50rem;
        }
      }
    }
  }
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  .section1{
    .content{
      grid-template-columns: 1fr;
      .title{
        width: 25rem;
        font-size: 2.18rem;
        margin: 8rem auto;
      }
      .subtitle{
        justify-content: center;
        align-items: center;
        margin: 8rem auto;
        width: 19rem;
        p{
          font-size: 1.30rem;
        }
      }
    }
  }
  
}

@media (max-width: 350px) {
  
  .section1{
    .content{
      grid-template-columns: 1fr;
      padding: 1rem;
      .title{
        width: 20rem;
        font-size: 2.5rem;
        margin: 8rem auto;
      }
      .subtitle{
        justify-content: center;
        align-items: center;
        margin: 8rem auto;
        width: 19rem;
        p{
          font-size: 1.25rem;
        }
      }
    }
  }
  
}


