
.container{
    width: 100%;
    height: 100vh;
    overflow: hidden;

    background: #FCF8ED;
    padding: 3rem;
    .subContainer{
        width: 100%;
        height: 100%;
        overflow-y:scroll;
        overflow-x: hidden;
        /* ===== Scrollbar CSS ===== */
        /* Firefox */
        scrollbar-width: auto;
        scrollbar-color:  #9f9d98 #d4d2cb;
        -moz-filter: initial;
        -o-filter: initial;
        -webkit-filter:initial;
        filter: initial;

        /* Chrome, Edge, and Safari */
        &::-webkit-scrollbar {
            width: 10px;
        }

        &::-webkit-scrollbar-track {
            background: #d4d2cb;
        }

        &::-webkit-scrollbar-thumb {
            background-color:  #9f9d98;
            border-radius: 10px;
            border: 3px solid #9f9d98;
            height: 1px;
        }
    }
    .post{
        position: relative;
        text-align: center;
        height: 100%;
        max-width: 1200px;
        margin: 0 auto;       

        h2{
            color: var(--purple-800);
            font-size: 3.75rem;
            font-weight: 500;
            margin-bottom: 1rem;
        }
        .content{
            
            margin-top: 4rem;
            h2{
                font-size: 1.8rem;
            }
            .title{
                width: 75rem;
                margin-bottom: 2rem;
                h1{
                    text-align: left;
                    color: var(--purple-800);
                    font-weight: 600;
                    font-size: 3.2rem;
                }
            }
            .banner{
                width: 100%; 

                img{
                    width: 68rem;
                    height: 21rem;
                    position: absolute;
                    right: 0;
                    left: 0;
                    border-radius: 1.375rem
                }
            }
        }
    }

    .container_post{
        width: 100%;
        height: 100%;
        margin-top: 400px;
        .post_content{
            margin-bottom: 5rem;
            h2{
                text-align: left;
                color: var(--purple-800);
            }
            .container_body_text{
                width: 100%;
                text-align: left;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                p{
                    color: var(--purple-800);
                    font-size: 1.3rem;
                    line-height: 30px;
                    letter-spacing: 0.04em;

                }
                
            }
        }

    }
}

.container_arrow_back{

    text-align: right;
    margin-right: 2rem;
    button{
        border: 0;
        background: none;
        img{
            width: 40px;
            height: 40px;
        }
    }
}




@media (max-width: 1200px) {
        .container{
            .post{
                .content{
                    .title{
                        width: 100%;
                        h1{
                            font-size: 2.7rem;
                        }
                    }
                    .banner{
                        img{
                            width: 58rem;
                        }
                    }
                }
            }
        }
}

@media (max-width: 1035px) {
    .container{
        .post{
            .content{
                
                .banner{
                    img{
                        width: 50rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 900px) {
    .container{
        .post{
            .content{
                .title{
                    h1{
                        font-size: 2.5rem;
                    }
                }
                .banner{
                    img{
                        width: 45rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 825px) {
    .container{
        .post{
            .content{
                .title{
                    h1{
                        font-size: 2.3rem;
                    }
                }
                .banner{
                    img{
                        width: 38rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 633px) {
    .container{
        .subContainer{
            scrollbar-width: none;
            &::-webkit-scrollbar {
                width: 0px;
            }
    
        }
        .post{
            .content{
                .title{
                    h1{
                        font-size: 2.2rem;
                    }
                }
                .banner{
                    img{
                        width: 34rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 575px) {
    .container{
        .post{
            .content{
               
                .banner{
                    img{
                        width: 27rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .container{
        .post{
            .content{
               .title{
                h1{
                    font-size: 1.8rem;
                }
               }
                .banner{
                    img{
                        width: 25rem;
                    }
                }
            }
        }
    }

    .container_arrow_back{
        margin-right: 0rem;
    }
}

@media (max-width: 450px) {
    .container{
        .post{
            width: 100%;
            .content{
                width: 100%;
                .banner{
                    img{
                        width: 22rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 420px) {
    .container{
        width: 100vw;
        .post{
            h2{
                font-size: 3rem;
            }
            .content{
                .banner{
                    img{
                        width: 25rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 400px) {
    .container{
        width: 100vw;
        .post{
            h2{
                font-size: 3rem;
            }
            .content{
                .banner{
                    img{
                        width: 22rem;
                    }
                }
            }
        }
    }
}


@media (max-width: 380px) {
    .container{
        width: 100vw;
        .post{
            h2{
                font-size: 2.5rem;
            }
            .content{
                .title{
                    h1{
                        font-size: 1.7rem;
                    }
                }
                .banner{
                    img{
                        width: 21rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 350px) {
    .container{
        width: 100vw;
        .post{
           
            .content{
                h2{
                    font-size: 1.7rem;
                }
                .banner{
                    img{
                        width: 17rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 260px) {
    .container{
        
        .post{
            h2{
                font-size: 2.3rem;
            }
            .content{
                .title{
                    h1{
                        font-size: 1.6rem;
                    }
                }
                .banner{
                    img{
                        width: 13rem;
                    }
                }
            }
        }
    }
}