.header{
    display: flex;
    max-width: 1500px;
    min-width: 14rem;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box; 
    height: 70px;
    margin: 2rem auto;
    position: relative;
    z-index: 1;
    
}

.logo{
    justify-items: center;
    margin-top: 1rem;
    padding: 2rem;
    width: 23rem;
    height: auto;
}

.logo_menu{
    display: none;
}

.menu{
    display: flex;
    gap: .5rem;   
    li{
        font-size: 1.2rem;
        display: block;
        padding: .5rem;
        line-height: 1.4rem;
    }
}

.social_medias_logos{
 display: none;       
}

.active{
    display: none;
}

.button_mobile{
    display: none;
}



@media (max-width: 840px){

    .menu{
        display: none;
    }

    .active{
        display: block;
        position: absolute;
        width: 21rem;
        border-radius: 8px 28px 28px 16px;
        top: 0;
        right: 500px;
        left: 0;
        background: var(--purple-500);
        height: 100vh;
        z-index: 1000;
        
        a{
            display: block;
            padding: 1rem 0;
            margin: 0 1rem;
            color: white;
            line-height: 1.5rem;
            border-bottom: 2px solid rgba(0, 0, 0, .05);
            transition: 300ms;
        
            &:hover{
                filter: opacity(0.7);
            }   
        }
        .logo_menu{
            width: 15rem;
            height: auto;
        }
    }

    .social_medias_logos{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        gap: 1.3rem;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        figure{
            margin-top: 90vh;
        }
    }

    .button_mobile{
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        img{
            width: 2.8rem;
        }
    }

    .logo_menu{
        display: block;
        text-align: center;
        justify-content: center;
        margin-top: 1rem;
        padding: 2rem;
        width: 18rem;
        height: auto;
        
        
    }

}

@media (min-width: 841px){
    .button_mobile{
        display: none;
    }

   
    
    .active{
        display: flex;
        gap: .5rem;   
        transition: .6s;
        align-items: center;
        height: 0px;
        li{
            font-size: 1.3rem;
            display: block;
            padding: .5rem;
        }
    }
    .menu{
        display: flex;
    }
    
}

@media (max-width: 400px){
    .logo{
        margin-top: 1rem;
        padding: 2rem;
        width: 18rem;
        height: auto;
    }
}

  