.header{
    display: flex;
    flex-direction: row-reverse;
    max-width: 1350px;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box; 
    height: 70px;
    margin: 2rem auto;
    background: var(--white);
}

.logo{
    justify-items: center;
    margin-top: 1rem;
    padding: 2rem;
    width: 23rem;
    height: auto;
}

.logo_menu{
    display: none;
}

.menu{
    display: flex;
    gap: .5rem;   

    li{
        font-size: 1.3rem;
        display: block;
        padding: .5rem;
    }
}

.active{
    display: none;
}

.button_mobile{
    display: none;
}


@media (max-width: 600px){
    .menu{
        display: none;
    }

    .active{
        display: block;
        position: absolute;
        width: 21rem;
        border-radius: 8px 28px 28px 28px;
        top: 0;
        right: 500px;
        left: 0;
        background: var(--purple-500);
        height: calc(100vh - 70px);
        z-index: 1000;
        
        a{
            display: block;
            padding: 1rem 0;
            margin: 0 1rem;
            color: white;
            line-height: 1.5rem;
            border-bottom: 2px solid rgba(0, 0, 0, .05);
            transition: 300ms;
        
            &:hover{
                filter: opacity(0.7);
            }   
        }
    }

    .button_mobile{
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        img{
            width: 2.8rem;
        }
    }

    .logo_menu{
        display: block;
        text-align: center;
        justify-content: center;
        margin-top: 1rem;
        padding: 2rem;
        width: 18rem;
        height: auto;
        
        
    }

}

@media (min-width: 600px){
    .button_mobile{
        display: none;
    }
    
    .active{
        display: flex;
        gap: .5rem;   
        transition: .6s;
        align-items: center;
        height: 0px;
        li{
            font-size: 1.3rem;
            display: block;
            padding: .5rem;
        }
    }
    .menu{
        display: flex;
    }
    
}

@media (max-width: 400px){
    .logo{
        margin-top: 1rem;
        padding: 2rem;
        width: 18rem;
        height: auto;
    }
}


/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
    /* CSS */
    
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (max-width: 800px) {
    
    /* CSS */
    .logo{
        margin-top: 1rem;
        padding: 2rem;
        width: 18rem;
        height: auto;
    }
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    
    /* CSS */
    
  }