.header{
    display: flex;
    background-color: transparent;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box; 
    height: 2.3rem;
    padding: 3rem 5rem;
    align-self: center;
    position: relative;
    border: 0;
    z-index: 1;
    
}

.icons_menu{
    display: none;
}
.menu{
    display: flex;
    gap: .5rem;   
    li{
        font-size: 1.2rem;
        padding: .5rem;
        line-height: 1.4rem;
        margin-bottom: 5px;
        transition: all .2s;
        display: flex;
        margin-top: 5px;
        gap: 5px;
        flex-direction: column;
        align-items: center;
        
    }

    .hoverActive{
        color: var(--purple-300);
    }

    .hoverActive::after{
        content: "";
        width: 19px;
        border-radius: 10px;
        border: 1px solid var(--purple-300);
    }

    li::after{
        content: "";
        width: 19px;
        border: 1px solid transparent;
    }

    li:hover{
        color: var(--purple-300);
        display: flex;
        gap: 5px;
        flex-direction: column;
        align-items: center;
    }

    li:hover::after{
        content: "";
        width: 19px;
        border: 1px solid var(--purple-300);
    }
}

.social_medias_logos{
 display: none;       
}

.active{
    display: none;
}

.button_mobile{
    display: none;
}



@media (max-width: 840px){

    .menu{
        display: none;
    }
    .active{
        display: block;
        position: absolute;
        width: 90vw;
        border-radius: 8px 28px 28px 16px;
        top: 0;
        right: 500px;
        left: 0;
        background: var(--purple-800);
        height: 100vh;
        z-index: 1000;
        .logo{
            width: 2rem;
        }
        
        a{
            position: relative;
            cursor: pointer;
            display: block;
            padding: 0.8rem 0;
            margin: 0 2rem;
            color: white;
            line-height: 1.5rem;
            border-bottom: 2px solid rgba(0, 0, 0, .05);
            transition: 300ms;
        
            &:hover{
                filter: opacity(0.7);
            }   
        }
        .icons_menu{
            display: flex;
            padding: 1.8rem;
            align-items: center;
            justify-content: space-between;
            figure{
                align-items: center;
                justify-content: center;
                img{
                    width: 10.5rem;
                }
            }
            span{
                margin-top: 0.3rem;
                align-self: center;
                align-items: center;
                display: block;
                cursor: pointer;
                transition: 0.3s;
                align-items: center;
                &:hover{
                    filter: opacity(0.7);
                }
                img{
                    width: 1.3rem;
                }
            }
        }
    }

    .social_medias_logos{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60%;
        position: relative;
        figure{
            transition: 0.3s;
            &:hover{
                filter: opacity(0.7);
            }
        }
    }

    .button_mobile{
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        img{
            width: 2.8rem;
        }
    }

}

@media (min-width: 841px){
    .button_mobile{
        display: none;
    }
    
    .active{
        display: flex;
        gap: .5rem;   
        transition: .6s;
        align-items: center;
        height: 0px;
        li{
            font-size: 1.3rem;
            display: block;
            padding: .5rem;
        }
    }
    .menu{
        display: flex;
    }
    
}

@media (max-width: 425px){
  
    .header{
        padding: 35px 42px;
    }
    
}


  