section {
  .container {
    min-height: 500px;
    .rec-item-wrapper{
      
      border: 1px solid red !important;
    }

    .deposition {
      justify-content: center;
      justify-items: center;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 1px;

      .title{
        h3{
          font-size: 1.37rem;
          color: var(--purple-800);
        }
      }
      .info {
        cursor: grab;
        h3 {
          font-size: 1.7rem;
          color: var(--purple-800);
          font-weight: 600;
        }
        p {
          max-width: 400px;
          font-size: 1.3rem;
          color: var(--purple-800);
          font-weight: 400;
        }
      }
      .text {
        margin-top: 1.3rem;
        p {
          margin-top: 25px;
          font-size: 22px;
          font-weight: 400;
        }
      }
    }
  }
}
